backend:
  name: git-gateway
  branch: master

publish_mode: editorial_workflow

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "blog"
    label: "Posts"
    folder: "content"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string", required: true}
      - {label: "Published Date", name: "date", widget: "datetime", required: false}
      - {label: "type", name: "type", widget: "hidden", required: true, default: "blog"}
      - {label: "Body", name: "body", widget: "markdown"}

  - name: "pages"
    label: "Pages"
    files:
      - file: "site/content/_index.md"
        label: "Products Page"
        name: "index"
        fields:
          - {label: Title, name: title, widget: string}
          - {label: Description, name: description, widget: string}
          
      
