backend:
  name: git-gateway
  branch: master

publish_mode: editorial_workflow

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "blog"
    label: "Posts"
    folder: "content"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string", required: true}
      - {label: "type", name: "type", widget: "hidden", required: true, default: "post"}
      - {label: "Body", name: "body", widget: "markdown"}
