{{ partial "header.html" . }}
        <h3>test website name test<span>test top right 2<br><a
                    href="https://www.google.com">Google</a> | <a
                    href="https://twitter.com/darkdotfail">Twitter</a></span></h3>
        <p><b>Empire Market test </b>. Website test.</p>
        <p><b>test 4</b> for maintenance, follow HugBunter's updates at <a
                href="https://www.google.com">link example</a> on Reddit.
            <p>Install <a href="https://www.torproject.org">Tor Browser</a> to explore the darknet. Set
                <code>darkfailllnkf4vf.onion</code> as your home page to save time.</p>
            <p>Links are PGP verified and unclickable for your safety. dark.fail's <a href="#philosophy">philosophy</a>
                and <a href="#donations">finances</a></p>
            
            {{ range where .Paginator.Pages "Section" "" }}
                    <h4><a href="javascript:;">{{ .Title }}</a></h4>
           
                    {{ .Content }}   
                    
                    
                
                    
                    
            {{ end }}
            
            
</pre>
{{ partial "footer.html" . }}
