{{ partial "header.html" . }}
        <h3>test website name test<span>test top right 2<br><a
                    href="https://www.google.com">Google</a> | <a
                    href="https://twitter.com/darkdotfail">Twitter</a></span></h3>
        <p><b>Empire Market test </b>. Website test.</p>
        <p><b>test 4</b> for maintenance, follow HugBunter's updates at <a
                href="https://www.google.com">link example</a> on Reddit.
            <p>Install <a href="https://www.torproject.org">Tor Browser</a> to explore the darknet. Set
                <code>darkfailllnkf4vf.onion</code> as your home page to save time.</p>
            <p>Links are PGP verified and unclickable for your safety. dark.fail's <a href="#philosophy">philosophy</a>
                and <a href="#donations">finances</a></p>
            
            {{ range where .Paginator.Pages "Section" "" }}
                    <h4><a href="javascript:;">{{ .Title }}</a></h4>
           
                    {{ .Content }}   
                    
                    
                
                    
                    
            {{ end }}

            <a name="philosophy"></a>
<h3>Philosophy</h3>
<p>Always fast, one server request. No tracking ever, no javascript ever.</p>
<p>Accurate URLs verified by PGP. No direct linking in order to protect against DNS leaks from accidental clicking in a clearnet browser.</p>
<p>Knowledge of darknet site uptime is important to many cybersecurity researchers. This site is provided for information only. No endorsements are made or implied regarding any sites or organizations mentioned here.</p>
<p>Want a link listed or removed here? Email hello -a-t- dark.fail</p>
<p>Jabber: darkdotfail at jabber.calyxinstitute.org</p>
<p>Defend your right to privacy: <a href="https://supporters.eff.org/">donate to the EFF.</a></p>
<a name="donations"></a>
<h5>Donations are Appreciated</h5>
<p>dark.fail is supported by our users. No sites pay for placement or advertisements, no affiliate links have or will ever be used. If this resource has helped you please consider sending a contribution.</p>
<p>Bitcoin: 15FysbydVPr1Gt3FWUGZRPhRjuKn4bbsZR</p>
<p>Monero (safer, lower fees): 8854wXhegtfdWHorhTqb1g8V94biewtqQ1DHUCMzx2rKcF2PtPg94BEQVVWaDvSFA9b2LtMzijxD3ETKpL2Atkr7VXpJn42</p>
<h5>PGP Key</h5>
<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----

mQINBFzTUUoBEAC0shtSA6mP9i4ExQrP5SkE22hS9avHYp98yF64H8f0A0BkwtIP
rsgmWeC8orGmLIwOElTZi37BdxVumiZINprkipPbaKNnnjD+HTDXCwLkRyQnlLmJ
hMS3YeI4obVdGpxOTfugk5o9SgRij6k4opOoa85Jd8HSeaPosdbu3OIPZ+IPtUQ/
sekOH44IyV9v4+Oco6WTK9sVbBLro1/TQXRpvhvYsvB4DNVYnr+MgYYdjPISK0bV
9g9x0f3cl4X9zggi9pc7BSZcKIn/OK1A42hV1gY4for3nk2wyxjWjDrfjYnSY9u0
Tzq+yyLPK3yo5vBomdpM1cyExori1SI1g89WSCmMc4cJiwQ9ANjCyWuPBesZernP
eFu6D5ye958zi8XJ3B0Obl3DMHDk8CGIYphjSiPiOln1CS/n5NJX4tT/q2vPMx7N
U6t4wBfOvxQkjGo5wc+q7UQ4eNQ2eL8Q1xtUHh1hNHtVKckcY8wZnjFVExc9qCok
APA2LaK1z2C6VenL9nd4xhzRv/BJ2eM5uT02fTixS/rDCs58zw2jdEaphMYSV82L
9B+GDTei3MNTWibcUPWxZVvd9i/wgdaB/6lZymAf6Ntz0PPU83kJfjaAZyXqflMu
zdSktSlvbnN2MLRoeC850idBMbjEMN+cWQYK4D/ZCe6zPk5h41bHFmiZswARAQAB
tB1EYXJrRG90RmFpbCA8aGVsbG9AZGFyay5mYWlsPokCVAQTAQoAPhYhBMPocPQu
VI3Ke6No29174tJqWYC1BQJc01FKAhsDBQkDwmcABQsJCAcCBhUKCQgLAgQWAgMB
Ah4BAheAAAoJEN174tJqWYC1PnIQAJbMRJU1bcWof6FFtYJLDSAWe6RUdiL3ANWV
vHkxaV/4r2MjHzlaueYWmuASMJGvY244+ehbbOIgzjQ/TvIQGvNJILViHdrR/GmI
Af1QQogSuuPiJD7zIbpFkNGSbuzuekjK5VDb23A6mg0nXr/VY1CzZhXpF++OMXko
S/AX6oOfBxmjSjPNcnBlfTIJKHP4thlNB74zrYbqn/Uout3MRO81t0SlkzvaxJQv
IamMb9spSN2xSYHC0HOXaIKamDOfzd/8OkFKZGJuj49Ygajc2Q2b7agavXnO9n0u
MHp+g/R0uqh36n9vLQ0ju8dAIg15FQFLrB+vxhDwBhvw57jeJ2hleA1eNKIY2We7
k6WpoN6A42CFJwkUnidvq1xGxKivVUSLVYAEcGFF+U3Rve1ZXwgIiExlbvJHe0pg
edXtctHSIarwvCpICnG4Fmr3eUoGcSJdav0npLUk9bVFpEvaaGZ1tYwanOQyXXNS
3dt1W6OFdQ3X7YqyHpouLriThAOKKFkxeoSEOUXE69I3nUAuAJHOa5mb8GHTu/4Q
bXyJTsiVOcQu/M4178AQyliUapWdY6h1ASIM+L3W8XPy04QG6Q/d2+EjSMWS3bmp
5keFl88FEm/FpZ5JdP4xRghM7ZGht0gG74Hbl9PyfgRZ+pAj/dmQAyLSf+lJjoQH
pknjPTvH
=HqYO
-----END PGP PUBLIC KEY BLOCK-----
            
            
</pre>
{{ partial "footer.html" . }}
