{{ partial "header.html" . }}
        <h3>Website Name Top Left<span>Website Info Top Right<br><a
                    href="https://www.google.com/" target="_blank">Google</a> | <a
                    href="https://twitter.com/elonmusk/" target="_blank">Twitter</a></span></h3>
        <p><b>Header Example </b>Text Example</p>
        <p><b>Header Example 2</b>text example visit this site at <a
                href="https://www.google.com/" target="_blank">link example</a> online.
            <p>Text example 3 <a href="https://www.google.com/" target="_blank">Link Example</a> to explore the Google. Set
                <code>example font like this</code>- that looks cool</p>
            <p>EMPTY LINE FOR CONTENT. Link to subsection <a href="#subsection1">Header001</a>
                and <a href="#subsection2">Header002</a></p>
            
            {{ range where .Paginator.Pages "Section" "" }}
                    <h4><a href="javascript:;">{{ .Title }}</a></h4>
           
                    {{ .Content }}   
                    
                    
                
                    
                    
            {{ end }}

            <a name="subsection1"></a>
<h3>Header001</h3>
<p>EMPTY LINE FOR CONTENT</p>
<p>EMPTY LINE FOR CONTENT</p>
<p>EMPTY LINE FOR CONTENT (write entire paragraph, the site will resize according to device)</p>
<p>EMPTY LINE FOR CONTENT</p>
<p>EMPTY LINE FOR CONTENT</p>
<p>Visit google: <a href="https://google.com/" target="_blank">WEBSITE LINK.</a></p>
<a name="subsection2"></a>
<h5>Header002</h5>
<p>EMPTY LINE FOR CONTENT</p>
<p>EMPTY LINE FOR CONTENT</p>
<p>EMPTY LINE FOR CONTENT</p>
<h5>PGP Key</h5>
<pre>-----BEGIN PGP PUBLIC KEY BLOCK-----

This looks pretty cool

-----END PGP PUBLIC KEY BLOCK-----
            
            
</pre>
{{ partial "footer.html" . }}
